<% dnames  = ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'] %>
<%= f.hidden_field :id, :value => report.id %>
<%= f.hidden_field :report_date, :value => report.report_date %>
<%= f.hidden_field :user_id, :value => report.user.id %>
<td>
  <%= report.report_date.strftime("%d/%m/%Y") %>
  <%=  dnames[report.report_date.wday] %>
</td>
<td>
  <% if report.user_id == User.current.id && ((iscurrentday rescue true) || report.id.nil? || report.trash == true) %>
    <%= f.text_area :report, :rows => 5, :value => report.report, :style => "height:100%;width:100%", :class => 'wiki-edit'  %>
  <% else %>
    <%=  report.report %>
  <%  end %>
</td>
<td>
  <% if report.user_id != User.current.id %>
    <%= f.text_area :comment, :rows => 5, :value => report.comment, :style => "height:100%;width:100%", :class => 'wiki-edit' %>
  <% else %>
    <%=  report.comment %>
  <%  end %>
</td>
<td>
  <%= User.find(report.manager_id).name unless report.manager_id.nil?  %>
</td>
<td>
  <% if report.user_id != User.current.id %>
    <%= f.check_box :trash, :checked => (report.trash == true ? true : false)  %>
  <% else %>
    <%= (report.trash == false || report.trash.nil? ? "НЕТ" : "ДА" )  %>
  <%  end %>
</td>

