<h2>Добавление отчетов</h2>
<table>
  <tr>
    <% form_for :filter, :html => { :id => 'filter_form' } do |f| %>
      <td>
        <%= label_tag "startdate", "Начальная дата:"   %>
        <%= f.text_field "startdate", :size => 10, :value => @startdate, :class => "values_startdate", :id => "values_startdate" %> <%= calendar_for "values_startdate" %>
      </td>
      <td>
        <%= f.submit "Выбрать" %>
      </td>
    <% end %>
  </tr>
</table>
<table class ="list issues" style="border-collapse: separate;">
  <thead>
    <tr>
      <th style="width:10%">Дата отчета</th>
      <th style="width:35%">Отчет</th>
      <th style="width:35%">Комментарий Менеджера</th>
      <th>Менеджер</th>
      <th style="width:10%">Переделать</th>
    </tr>
  </thead>
  <tbody>
    <% form_for :reports, :url => {:action => "add"} do |reports_from| %>
      <% @reports.each do |report| %>
      <% isweekendday = report.report_date.wday == 0 || report.report_date.wday == 6 %>
        <% reports_from.fields_for :report, :index => report do |rep_from|%>
          <% if report.report.nil? || report.trash == true %>
            <tr id="issue" class="hascontextmenu <%= cycle('odd', 'even') %>" style="background-color: <%= (report.trash == true ? "lightyellow" : ( isweekendday ?  "#B0D2D7" : "" )) %>">
              <%= render :partial => 'report', :object => report, :locals => {:f => rep_from} %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      <%= reports_from.submit l(:add_button) %>
    <% end %>
  </tbody>
</table>


