<h2><%= User.find(@report.user_id).name %>:</h2>
<% isweekendday = @report.report_date.wday == 0 || @report.report_date.wday == 6%>
<table class ="list issues" >
  <thead>
    <tr>
      <th style="width:10%">Дата отчета</th>
      <th style="width:35%">Отчет</th>
      <th style="width:35%">Комментарий Менеджера</th>
      <th>Менеджер</th>
      <th style="width:10%">Переделать</th>
    </tr>
  </thead>
  <tbody>
    <% form_for :reports, :url => {:action => "add"} do |reports_from| %>
      <% if params.key?(:filter) %>
        <%= hidden_field_tag(:filter_startdate, params[:filter][:startdate], {:name => "filter[startdate]"}) if  params[:filter].key?(:startdate) %>
        <%= hidden_field_tag(:filter_enddate, params[:filter][:enddate], {:name => "filter[enddate]"}) if  params[:filter].key?(:enddate)  %>
        <%= hidden_field_tag(:filter_watched_id, params[:filter][:watched_id], {:name => "filter[watched_id]"}) if  params[:filter].key?(:watched_id)  %>
      <% end %>
      <% reports_from.fields_for :report, :index => @report do |rep_from|%>
        <tr id="issue" class="hascontextmenu <%= cycle('odd', 'even')%>" style="background-color: <%= (@report.trash == true ? "lightyellow" : ( isweekendday ?  "#B0D2D7" : "" )) %>">
          <%= render :partial => 'report', :object => @report, :locals => {:f => rep_from} %>
        </tr>
      <% end %>
      <%= reports_from.submit l(:add_button) if (User.current.id == @report.user_id && @report.trash == true) || User.current.id != @report.user_id || @report.id.nil? %>
    <% end %>
  </tbody>
</table>


