<% dnames  = ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'] %>
<h2>Просмотр отчетов</h2>

<% form_for :filter, :html => { :id => 'filter_form' } do |f| %>
  <%= label_tag "startdate", "Начальная дата:"   %>
  <%= f.text_field "startdate", :size => 10, :class => "values_startdate", :id => "values_startdate" %> <%= calendar_for "values_startdate" %>
  <%= label_tag "enddate", "Конечная дата:"   %>
  <%= f.text_field "enddate", :size => 10, :class => "values_enddate", :id => "values_enddate" %> <%= calendar_for "values_enddate" %><br/>
  <%= label_tag "watched_id", "Наблюдаемые:"   %><br/>
  <%= f.select "watched_id", @WATCHEDIDS.collect {|p| [ User.find(p).name, p ] }, { :include_blank => false},{  :multiple => true } %><br/>
  <%= f.submit "Выбрать" %>
<% end %>
<%#= submit_to_remote 'Filter', 'Filter', :url => {:controller => 'report', :action => 'update_view',:with =>
"Form.serialize('filter')"}, :update => "my_table" %>
<%#= link_to_remote 'Filter', :url => { :action => 'update_view', :with =>
"'startdate=' + $('startdate').value&'enddate=' + $('enddate').value&'watched_id=' + $('watched_id').value"}, :layout => false, :update => "my_table" %>

<table id="my_table" class ="list issues" >
  <thead>
    <tr>
      <% percent=(100/@id_and_reps.keys.length+1).to_s + "%" %>
      <th></th>
      <% @id_and_reps.keys.each do |key| %>
        <th style="width:<%=  percent%>"><%= User.find(key).name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (0...@id_and_reps.to_a[0][1].length).each do |i| %>
      <% isweekendday = @id_and_reps.to_a[0][1][i].report_date.wday == 0 || @id_and_reps.to_a[0][1][i].report_date.wday == 6%>
      <tr id="issue" class="hascontextmenu <%= cycle('odd', 'even') %>">
        <td>
          <%= @id_and_reps.to_a[0][1][i].report_date.strftime("%Y/%m/%d") %>
          <%=  dnames[@id_and_reps.to_a[0][1][i].report_date.wday] %>
        </td>
        <% @id_and_reps.keys.each do |key| %>
          <% if isweekendday == true %>
            <% bcolor="lightgray" %>
          <% elsif  @id_and_reps[key][i].report.nil? %>
            <% bcolor="lightpink" %>
          <% elsif @id_and_reps[key][i].trash == true %>
            <% bcolor="lightyellow" %>
          <% else %>
            <% bcolor="#C1FFC1" %>
          <% end %>
          <td style="background-color: <%=bcolor%>">
            <% if @id_and_reps[key][i].user_id != User.current.id || bcolor == "lightpink" || bcolor == "lightyellow" %>
              <% link_to  ("show?report=" + @id_and_reps[key][i].id.to_s) do %>
                <div style="height:100%;width:100%">
                  <%=  @id_and_reps[key][i].report %>
                </div>
              <% end %>
            <% else %>
              <%=  @id_and_reps[key][i].report %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>